 body
{
background-color:Lavender;
color:black;
font-family:arial sans serif;
}

h1
{
font-size:40px;
text-align:center;
text-shadow: 6px 6px 5px Gainsboro;
}

h2
{
font-size:33px;
text-align:left;
text-shadow 3px 4px 2px Gainsboro; 
}

p
{
font-size:25px;
text-align:justify;
}